*{
    padding: 0 !important;
}
#Title{
    padding: 10px;
    border:solid black 1px !important;
    background-color: rgb(184, 180, 180)!important;
    text-align: center!important;
}
.paragraphwrapper{
    padding: 3px!important;
    margin-top:10px!important;
    margin-bottom: 10px!important;
    background-color: azure!important;
    border:solid black 1px!important;
}
#paragraph{
    padding:5px!important;;
    border:solid black 1px!important;
    background-color: rgb(184, 180, 180)!important;
    text-align: center!important;
}
